.header__nav_list{
    display: grid;
    grid-template-columns: 1fr auto 50% auto auto auto;
    gap: 40px;
    align-items: center;
    width: 100%;
    list-style-type: none;
}

.header{
    padding: 32px 12.5%; 
    width: 100%;
}

.header__logo{
    width: 79.61px;
    height: 48px;
}

.header__nav_list_link{
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    color: var(--cor-links);
    font-family: var(--fonte-texto);
}

.header__nav_list_item-input{
    position: relative;
}

.header__nav_list_input{
    width: 100%;
    height: 100%;
    padding: 16px 12px;
    box-sizing: border-box;
    background-color: var(--cor-texto);
    border-radius: 32px;
    border: none;
    font-size: 20px;
    line-height: 24px;
    font-family: var(--fonte-texto);
    color: var(--cor-links);
}

.search-icon{
    position: absolute;
    right: 17.5px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    pointer-events: none;
}

@media screen and (max-width: 768px) {
    .header__nav_list{
        grid-template-areas: 
        "logo sobre login perfil carrinho"
        "input input input input input";
        grid-template-columns: 1fr 2fr .5fr .5fr .5fr;
    }

    .header__logo{
        grid-area: logo;
        justify-self: center;
    }

    .header__nav_list_item-sobre{
        grid-area: sobre;
    }

    .header__nav_list_item-login{
        grid-area: login;
    }

    .header__nav_list_item-profile{
        grid-area: perfi;
    }

    .header__nav_list_item-basket{
        grid-area: carrinho;
    }

    .header__nav_list_item-input{
        grid-area: input;
    }
}