.categories__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "roupas roupas decoracao"
    "canecas acessorios acessorios";
    gap: 24px;
    list-style-type: none;
}

.categories__list_item-clothes{
    grid-area: roupas;
}

.categories__list_item-decoration{
    grid-area: decoracao;
}

.categories__list_item-mugs{
    grid-area: canecas;
}

.categories__list_item-accessories{
    grid-area: acessorios;
}

.categories__list_item_container img{
    height: 331px;
    width: 100%;
    object-fit: contain;
}

.categories__list_item_container{
    background-color: var(--cor-links);
    text-align: center;
}

.categories__list_item{
    box-shadow: 0px 4px 24px 0px #7B7B7B26;
}

.categories{
    padding: 80px 12.5%;
}

.categories__title{
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    font-family: var(--fonte-titulo);
    color: var(--cor-texto-principal);
    margin-bottom: 40px;
}

.categories__text{
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    font-family: var(--fonte-texto);
    color: var(--cor-texto-secundario);
    margin-bottom: 40px;
}

.categories__list_item_title{
    font-size: 31px;
    font-weight: 700;
    line-height: 37.2px;
    font-family: var(--fonte-texto);
    color: var(--cor-texto-principal);
    padding: 16px 0;
    text-align: center;
}